<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bible was Read.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93B2005B20D9B1160058106C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93B2006F20D9B1160058106C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93B2007A20D9B1170058106C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
